div {
    width: 300px;
    padding: 50px;
    margin: 20px;   
}

div{
    border-style: groove;
    border-radius: 10px;
    border-top-width: 10px;
    border-bottom-width:10px;
    border-block-start-width: 10px;
    border-color: green;

}