div {
    width: 400px;   
    
    
}

div{
    border-style: groove;
    border-radius: 10px;
    border-top-width: 10px;
    border-bottom-width:10px;
    border-block-start-width: 10px;
    border-color: green;

}
div{
    /* padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px; */

    padding: 10px 40px;
}

div{
    margin-top: 50px;
    margin-right: 50px ;
    margin-bottom: 50px;
    margin-left: 50px;
}
